*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav
{
    background-color: #2d4c50;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 0 10px 5px #000;
}
.logo{
    font-size: 2.8rem;
    cursor: pointer;
    letter-spacing: 5px;
    
}
nav a{
    text-decoration: none;
    color: #fff;
}
.searching
{
    font-size: 1.2rem;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}
.searchBut{
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
    padding: 3px;
}
                                    /* navbar finish */


.blogContainer
{
    margin-top: 2rem;
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.blogCard
{
    width: 300px;
    border: 2px solid black;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.195);
    box-shadow: 0px 0px 5px 2px black;
    
}
.blogCard p
{
   margin-top: 10px;  
   font-size: 1rem; 
    
}
.blogCard h2
{
    letter-spacing: 1px;
    text-align: center;
}

.blogCard img{
    width: 275px;
}


@media screen and (max-width : 580px){
    .logo{
        font-size: 1.8rem; 
    }
    .searching
{
    font-size: 1rem;
   
    padding: 2px 5px;
    width: 150px;
    
}
.searchBut{
    font-size: 1rem;
    padding: 3px;
}
}

@media screen and (max-width : 400px)
{
    nav
{
  flex-direction: column;
  gap: 10px;
   
}
    .logo{
        font-size: 2rem; 
    }
    .searching
{
    font-size: 1.3rem;
    padding: 2px 5px;
    width: 170px;
}
.searchBut{
    font-size: 1.3rem;
    padding: 2px;
}
.blogContainer
{
    padding: 0 30px;
}
.blogCard
{
    width: 250px;
}
.blogCard img{
    width: 225px;
}
nav
{
    justify-content: space-evenly;
    padding: 0px;
}

}
@media screen and (max-width : 300px)
{
    .blogContainer
{
    padding: 0 20px;
}
.blogCard
{
    width: 200px;
}
.blogCard img{
    width: 175px;
}
nav
{
  flex-direction: column;
  gap: 10px;
   
}
.logo{
    font-size: 2rem; 
}
.searching
{
font-size: 1.1rem;
padding: 2px 5px;
width: 130px;
}
.searchBut{
font-size: 1.1rem;
padding: 3px;
}
}
@media screen and (max-width : 230px)
{
    .logo{
        font-size: 1.5rem; 
    }
    .searching
    {
    font-size: .9rem;
    padding: 2px 5px;
    width: 110px;
    }
    .searchBut{
    font-size: .9rem;
    padding: 3px;
    }
    .blogCard
{
    width: 170px;
}
.blogCard img{
    width: 145px;
}
.blogCard h2
{
    font-size: 20px;
}
}